main.content.body__content
	section.jornal.content__jornal
		.l-content
			h2.title.title_wavy.jornal__title Our journal
			.jornal-block
				.jornal-block__item
					.jornal-block__img.jornal-block__img_1
					.jornal-block__discription
						h3.title.jornal-block__title Love
						h4.title.jornal-block__subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						p.text.jornal-block__text You know how to make best coffee in the universe? Or, maybe you’re very good in designing gloves? Tell everyone about your experience and skills.
						p.text.jornal-block__num 01
				.jornal-block__item
					.jornal-block__img.jornal-block__img_2.jornal-block__img_revers
					.jornal-block__discription
						h3.title.jornal-block__title Tree
						h4.title.jornal-block__subtitle.jornal-block__subtitle_align_2 Lorem ipsum dolor sit amet, <span class="jornal-block__though">consectetur</span> adipisicing elit,
						p.text.jornal-block__text The way to a successful brand is hard, but always very interesting. Share the full story of your project – from the very first day until now.
						p.text.jornal-block__num 02
				.jornal-block__item.jornal-block__item_vertical
					.jornal-block__img.jornal-block__img_3
					.jornal-block__discription
						h3.title.jornal-block__title Watter
						h4.title.jornal-block__subtitle.jornal-block__subtitle_align_3 Little Pieces of our proundness
						p.text.jornal-block__text What do you do better than your competitors? What are you proud of? What details and advantages of your product you want people to know about?
						p.text.jornal-block__num 03
		
	section.work.content__work
		.l-content
			h2.title.title_wavy.work__title How we work
			.work-block.l-wrap
				.work-block__item
					.work-block__count
					.work-block__elem
						.work-block__figure.work-block__figure_doc
					h3.title.title_size_small.work-block__title Lorem ipsum dolor sit
					p.text.work-block__text amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
				.work-block__item
					.work-block__count
					.work-block__elem
						.work-block__figure.work-block__figure_user
					h3.title.title_size_small.work-block__title Lorem ipsum dolor sit
					p.text.work-block__text amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
				.work-block__item
					.work-block__count
					.work-block__elem
						.work-block__figure.work-block__figure_book
					h3.title.title_size_small.work-block__title Lorem ipsum dolor sit
					p.text.work-block__text amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
				.work-block__item
					.work-block__count
					.work-block__elem
						.work-block__figure.work-block__figure_choice
					h3.title.title_size_small.work-block__title Lorem ipsum dolor sit
					p.text.work-block__text amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt

	section.travel.content__travel
		.l-content
			h1.title.title_wavy.travel__title Travel with us
			.travel-block.l-wrap
				each item in items
					div(class="travel-block__item travel-block__item_" + `${item.title}`)
						.travel-block__rating
							- for (var i = 0; i < travelStar; i++) {
								.travel-block__star
							- }
						h4.travel-block__title= item.title
						p.travel-block__text= travelText
						.travel-block__footer
							p.travel-block__price.travel-block__price_old= item.priceOld
							p.travel-block__price= item.price

	section.gallery.content__gallery
		.l-content
			h2.title.title_wavy.gallery__title Gallery
			.gallery-block.l-wrap.l-wrap_small
				.gallery-block__col.gallery-block__col_1
					img(src="/img/gallery/gallery_1.jpg" alt='selfi').gallery-block__img.gallery-block__img_1
					img(src="/img/gallery/gallery_2.jpg" alt='selfi').gallery-block__img.gallery-block__img_2
				.gallery-block__col.gallery-block__col_2
					img(src="/img/gallery/gallery_3.jpg" alt='selfi').gallery-block__img.gallery-block__img_3
					img(src="/img/gallery/gallery_4.jpg" alt='selfi').gallery-block__img.gallery-block__img_4
				.gallery-block__col.gallery-block__col_3
					img(src="/img/gallery/gallery_5.jpg" alt='selfi').gallery-block__img.gallery-block__img_5
					img(src="/img/gallery/gallery_6.jpg" alt='selfi').gallery-block__img.gallery-block__img_6

	section.brands.content__brands
		.l-content
			.brands-block
				- for (var i = 0; i < 6; i++) {
					img(src="/img/brands/brand_" + `${i}` + ".png" alt='brand' class='brands-block__img brands-block__img_' + `${i}`)
				- }

	section.comments.content__comments
		.l-content
			h2.title.title_wavy.comments__title Our clients say
			.comments-block.l-wrap
				.comments-block__item
					p.comments-block__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do  enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					.comments-block__author
						img(src="/img/avatars/avatar_0.jpg", alt="avatar").comments-block__avatar
						p.comments-block__signature Pavliv Yaroslav <span class= "comments-block__signature-prof">Web designer</span>

				.comments-block__item
					p.comments-block__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do  enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					.comments-block__author
						img(src="/img/avatars/avatar_1.jpg", alt="avatar").comments-block__avatar
						p.comments-block__signature John Scott <span class="comments-block__signature-prof">The Fringe</span>

	section.form.content__form
		.l-content
			form(action="#" method="get").form-reg.form__reg
				fieldset.form-reg__field
					legend.title.form-reg__title Contacts
					.form-reg__block
						p.form-reg__text Sign up for our newsletter to receive updates
						input(type="text" name="user-name" placeholder="Name" pattern="[A-Za-zА-Яа-яЁё]{1,15}" title="Поле может содержать только английские и русские буквы")#name_reg.form-reg__input
						input(type="tel" name="user-phone" placeholder="Phone" pattern="[0-9]{3} [0-9]{3} [0-9]{2}-[0-9]{2}" title="Поле может содержать только номер телефона вида 999 666 33-22")#phone_reg.form-reg__input
						input(type="email" name="user-email" placeholder="E-mail" pattern="\S+@[a-z]+.[a-z]+" title="Поле может содержать только email")#email_reg.form-reg__input
						button(type="submit").form-reg__btn Send
	